body {
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    background: url('../images/full-bloom.png') repeat center center fixed;
}
p {
    font-size: 15px;
    margin: 0;
}
.big {
    font-size: 2rem;
    font-weight: 1000;
    color: rgb(56, 50, 50);
}
.animateImage {
    position: relative;
    top: 0;
    z-index: 0;
    width: 50px;
    height: 50px;
}
.animateImage1 {
    position: absolute;
    top: 112px;
    right: 0px;
    z-index: 0;
    width: 60px;
    height: 30px;
}
.animateImage2 {
    position: absolute;
    top: 112px;
    z-index: 0;
    width: 60px;
    height: 40px;
}
.animateImage3 {
    position: absolute;
    top: 614px; 
    right: 0px;
    z-index: 0;
    width: 80px;
    height: 80px;
}
.lessPadding {
    padding: .8rem;
}
.topicInput {
    width: 90%;
    margin: auto;
    font-size: 12px;
}
.image {
    margin: 5px;
    max-width: 150px;
    max-height: 150px;
}
.GGif {
    margin: 1px 3px;
    font-size: 12px;
    padding: 1px 3px !important;
}
.title {
    color: #fff;
    background-color: #366586d1;
    font-size: 20px;
}
.noShow {
    display: none;
}
.gifBtn {
    position: relative;
    margin: 5px;
    width: 200px;
    z-index: 0;
}
.addBtn {
    background: rgb(74, 74, 82);
    padding: 5px;
    border-radius: 5px;
}
.addBtn:hover {
    background: rgb(47, 47, 53);
}
.pFav {
    position: relative;
    width: 200px;
    left: 0;
    margin-bottom: 10px;
}
.divGif {
    position: relative;
    display: inline-block;
}
.lastRow {
    margin: auto;
}
#addGif {
    width: 90%;
}
.addGif {
    margin: auto;
    font-size: 12px;
    margin-bottom: 5px;
}

#showFav {
    width: 90%;
    margin: auto;
    font-size: 12px;
    margin-top: 20px;
}
#firstDiv {
    min-height: 150px;
    overflow: hidden;
}
#thirdDiv {
    min-height: 285px;
    overflow: auto;
}
#secondDiv {
    display: none;
}
/* Change Bootstrap CSS*/
.container {
    position: relative;
    max-width: 90%;
    z-index: 100;
}
.card-header { 
    padding: 0;
}
.h2, h2 {
    font-size: 1rem;
}
.h1, h1 {
    font-size: 1.5rem;
    color: orangered;
}
.h3, h3 {
    font-size: 1.2rem;
}
.jumbotron {
    position: relative;
    padding: 2rem 2rem;
    /*background: url('../images/gems3.jpg') no-repeat center center fixed;
    background-size: 100% 100%;*/
    background-image: url('../images/bg.JPG');
    background-size: cover;
    background-position-x: 0px;
    background-position-y: -60px;
    z-index: 5;
}
.btn {
    padding: .2rem;
}
.form-control {
    padding: .2rem;
    margin-bottom: 5px;
}
.card-body {
    padding: .5rem;
}
.row {
    margin: auto;
}
.col-md-12, .col-md-6, .col-md-9, .col-md-3   {
    padding: 0;
}
/* START - Media Queries */
@media screen and (max-width: 770px)  {
    
}
@media screen and (max-width: 500px)  {

}
/* END - Media Queries */